// generic partial container
.page-container
  width: 95%
  margin: 2em auto 0 auto

// generic header
.page-header
  display: inline-block

  a:hover
    background: rgba(0,255,0,0.1)

// doing this until I make this shit responsive
body
  min-width: 1200px
