#container
  position: relative
  width: 100%
  background: white
  height: auto !important
  min-height: 100%

.container
  padding: 0 0 7em 0 

footer
  width: 100%
  position: absolute
  bottom: 0
  border-top: 8px double white
  background: black
  height: 100px