h1, h2
  font-family: "Signika+Negative", serif
a
  text-decoration: none
  color: inherit
h1
  font-size: 4em
h2
  font-size: 3em
h3
  font-size: 2em
em
  font-style: italic
strong
  font-weight: bold
