#container
  .container

    header.main-header
      a.nav-link.root(href="/") root
      - if (locals.user)
        a.nav-link(href="#") #{locals.user}
      - else
        a.nav-link(href="/login") login

    .wrapper(ng-view)

  footer.main-footer
    a.me(href="http://polyrhythm.github.io", target="_blank") polyrhythm