#container
  .container

    header.main-header(ng-controller="HeaderCtrl")
      a.nav-link.root(href="/") root
      a.nav-link(href="/hackers/{{user}}") {{user}}

    .wrapper(ng-view)

  footer.main-footer
    a.me(href="http://polyrhythm.github.io", target="_blank") polyrhythm