template(name="hackerPage")
  .profile-container
    h1.profile-name hackers/<strong>{{hacker}}</strong>

    .profile-nav-container
      ul.profile-nav-links.cf
        li.profile-nav-link.about about
        li.profile-nav-link.codes codes
        li.profile-nav-link.blog blog

    {{{profile_section}}}

template(name="profileAbout")
  .profile-info-container.about
    h2 HOLY HELL THE ABOUT PAGE

template(name="profileCodes")
  .profile-info-container.codes
    h2 HOLY HELL THE CODES PAGE

template(name="profileBlog")
  .profile-info-container.blog
    h2 HOLY HELL THE BLOG PAGE
