template(name="hackerPage")
  .profile-container
    h1.profile-name <a href="/hackers">hackers</a>/<strong>{{hacker}}</strong>

    .profile-nav-container
      ul.profile-nav-links.cf
        li.profile-nav-link.about about
        li.profile-nav-link.codes codes
        li.profile-nav-link.blog blog

    {{{profile_section}}}

template(name="profileAbout")
  .profile-info-container.about
    .tools-container
      {{{hacker_tools}}}
    .about-container
      p.hacker-about {{{hacker_about}}}

template(name="profileCodes")
  .profile-info-container.codes

template(name="profileBlog")
  .profile-info-container.blog
