template(name="hackerPage")
  .page-container
    h1.page-header /<a href="/hackers">hackers</a>/<strong>{{hacker}}</strong>

    .profile-nav-container
      ul.profile-nav-links.cf
        li.profile-nav-link.about about
        li.profile-nav-link.code code
        li.profile-nav-link.blog blog

    {{{profile_section}}}

template(name="profileAbout")
  .profile-info-container.about
    .half
      .container.about
        h2.about-header about
        p.hacker-about {{{hacker_about}}}
      .container.tool.cf
        h2.about-header tools
        {{{hacker_tools}}}
      .edit
        a.edit-link.about edit your shit

template(name="profileCode")
  .profile-info-container.code

template(name="profileBlog")
  .profile-info-container.blog
    {{{hacker_blog}}}
  .edit
    a.edit-link.blog create a new fuckin blog post

template(name="editAbout")
  .profile-info-container.about
    .edit-container
      input.edit-about(type="textarea", type="about", placeholder="description")
      label.edit-label.tools(for="tools") put in your tools separated by a comma you turkey
      input#tools.edit-tools(type="textarea", placeholder="tools")
      a.submit-edit-about save your shit

template(name="editBlog")
  .profile-info-container.blog
    .edit-container
      input#title.edit-title(type="text", placeholder="title", autofocus="autofocus")
      input#body.edit-body(type="textarea", placeholder="body")
      a.submit-edit-blog save your blog post
