head
  title hacker.

body
  #container
    header.main-header
      a.nav-link.root(href="/") root
      {{#if currentUser}}
        a.nav-link.logout(href="#") logout
        a.nav-link(href="/hackers/{{currentUser}}") {{currentUser.username}}
      {{else}}
        a.nav-link(href="/login") login
      {{/if}}
  
    .wrapper
      {{renderPage}}
  
    footer.main-footer
      a.me(href="http://polyrhythm.github.io", target="_blank") polyrhythm
