.login(ng-controller="LoginCtrl")
  form.login-form(method="post", novalidate)
    .field
      label.login-label(for="user") >
      input.login-input#user(
        name="username"
        type="text"
        placeholder="username"
        required
      )
    .field
      label.login-label(for="password") >
      input.login-input#password(
        name="password"
        type="password"
        placeholder="passphrase"
        required
      )

    .submit
      button.login-submit(type="submit") login

    .new.cf
      a.signup-redirect(href="/signup") new? sign up 