.signup(ng-controller="SignupCtrl")
  form.signup-form(method="post", novalidate)
    .field
      label.signup-label(for="user") >
      input.signup-input#user(name="username", type="text", placeholder="identify yourself",ng-model="username", required)
    .field
      label.signup-label(for="email") >
      input.signup-input#email(name="email", type="email", placeholder="provide your email", ng-model="email", required)
    .field
      label.signup-label(for="passphrase") >
      input.signup-input#passphrase(name="password", type="password", placeholder="choose passphrase",ng-model="passphrase", password-validate, required)